USE [master]
GO
/****** Object:  Database [GiangSon]    Script Date: 14/03/2024 10:17:33 ******/
CREATE DATABASE [GiangSon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GiangSon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GiangSon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GiangSon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GiangSon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GiangSon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GiangSon]
GO
/****** Object:  Table [dbo].[Sensor]    Script Date: 14/03/2024 10:17:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor](
	[id] [int] NOT NULL,
	[offset] [float] NULL,
	[Bur30m] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 14/03/2024 10:17:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[ID] [int] NOT NULL,
	[DP_Length] [float] NOT NULL,
	[Bit_Depth] [float] NOT NULL,
	[Survey_Depth] [float] NOT NULL,
	[Inc] [float] NOT NULL,
	[Azo] [float] NOT NULL,
	[MetterSEEN] [float] NOT NULL,
	[BURm] [float] NOT NULL,
	[BUR30m] [float] NOT NULL,
	[INCBIT] [float] NOT NULL,
	[ToolFace] [nvarchar](50) NULL,
	[ST] [float] NOT NULL,
	[ED] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[Tmp1] [float] NOT NULL,
	[Tmp2] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Sensor] ([id], [offset], [Bur30m]) VALUES (1, 16, NULL)
GO
INSERT [dbo].[Slides] ([ID], [DP_Length], [Bit_Depth], [Survey_Depth], [Inc], [Azo], [MetterSEEN], [BURm], [BUR30m], [INCBIT], [ToolFace], [ST], [ED], [Total], [Tmp1], [Tmp2]) VALUES (1, 0, 920.5, 904.5, 0.23, 160.67, 0, 0, 0, 0, N'23 Mag', 920.5, 928.5, 8, 2.98, 5.02)
INSERT [dbo].[Slides] ([ID], [DP_Length], [Bit_Depth], [Survey_Depth], [Inc], [Azo], [MetterSEEN], [BURm], [BUR30m], [INCBIT], [ToolFace], [ST], [ED], [Total], [Tmp1], [Tmp2]) VALUES (2, 9.47, 929.97, 913.97, 0.43, 160.33, 0, 0.24, 7.23, 3.55, N'23 Mag', 929.97, 937.97, 8, 2.95, 5.05)
INSERT [dbo].[Slides] ([ID], [DP_Length], [Bit_Depth], [Survey_Depth], [Inc], [Azo], [MetterSEEN], [BURm], [BUR30m], [INCBIT], [ToolFace], [ST], [ED], [Total], [Tmp1], [Tmp2]) VALUES (3, 9.51, 939.48, 923.48, 1.85, 161.01, 2.98, 0.48, 14.3, 8.11, N'23 Mag', 939.48, 946.98, 7.5, 2.94, 4.56)
GO
USE [master]
GO
